/* Universal reset and setting JetBrains Mono as the default font */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace; /* Ensure fallback to monospace */
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background: #1c1c22;
  color: white; /* Ensures text color is set globally */
  line-height: 1.6; /* Improved readability */
}

/* Section styles */
section {
  height: 100vh;
  scroll-snap-align: center;
  overflow: hidden;
}

/* Link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Optional custom class for JetBrains Mono with specific font-weight */
.jetbrains-mono-unique-class {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* You can dynamically change this from 100 to 800 */
  font-style: normal;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content; // @content goes here, so the media query can apply the content
  }
}

// Mixin for tablet
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

// Mixin for desktop
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}

@include tablet {
  .course {
    .box {
      width: 150px;
      height: 150px;
    }
  }
}
